$accent-color: #27ae60;
$accent-text-color: $accent-color;
$primary-text-color: white;
$margin: 10px;

$operational-color: $accent-color;
$unavailable-color: red;

body {
    background-color: #2b2b2b;
}
.alert-success {
    background: $accent-color;
    color: $primary-text-color;
}
.text-success {
    color: $accent-text-color;
}
.list-group-item {
    background-color: inherit;
    border-color: #414142;
    color: $primary-text-color;
}
.list-group,
.alert {
    margin: $margin;
}
.Unavailable {
    color: $unavailable-color !important;
}
.Operational {
    color: $operational-color !important;
}
